.header {
  text-align: center;
  font-size: 3rem;
  padding-top: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66.66%;
  margin: auto 15rem;
}

.m-accordion {
  background: red !important;
}

/* .buttonLocation{
  display: flex;
    justify-content: center;
    margin-top: 2em;
}
.headerCard{
  display: flex;
  justify-content: flex-start;
}
.outlineDiv{
  padding:6em
}
.buttonStyle{
  width: 5.5em;
  height: 2em;
  font-size: 2em;
} */
/* @media screen and (max-width:900px) {

  .outlineDiv{
    padding:0em
  }


} */
