<div class="col-12" [formGroup]="editForm">
  <h3 class=" md:col-6 lg:col-6 sm:col-6">Username</h3>
  <input formControlName="user_name" class=" md:col-6 lg:col-6 sm:col-12" type="text" pInputText />
  <h3 class=" md:col-6 lg:col-6 sm:col-6">Password</h3>
  <input formControlName="password" class=" md:col-6 lg:col-6 sm:col-12" type="text" pInputText />
  <h3 class=" md:col-6 lg:col-6 sm:col-6">FirstName</h3>
  <input formControlName="first_name" class=" md:col-6 lg:col-6 sm:col-12" type="text" pInputText />
  <h3 class=" md:col-6 lg:col-6 sm:col-6">LastName</h3>
  <input formControlName="last_name" class=" md:col-6 lg:col-6 sm:col-12" type="text" pInputText />
  <h3 class=" md:col-6 lg:col-6 sm:col-6">Role</h3>
  <!-- <input formControlName="role" class=" md:col-6 lg:col-6 sm:col-12" type="text" pInputText />
  <br> -->
  <div class="radiobutton md:col-3 lg:col-3 sm:col-12">
    <div class="pb-3">
      <p-radioButton  name="role" value="A" label="Admin" formControlName="role"></p-radioButton>
    </div>
    <div  >
      <p-radioButton name="role" value="T" label="Teacher" formControlName="role"></p-radioButton>
    </div>
  </div>
  <br><br><br><br>
  <p-button label="Add" (onClick)="add()"></p-button>
</div>
