 <div class="">
  <div class="container-img">
    <img
      id="logo-img"
      src="../../../../../assets/img/logo-black.png"
      alt="logo"
      (click)="goToPublicPage()"
    />
  </div>
</div>

<div class="grid  align-items-center justify-content-center animate__animated  animate__fadeIn">
  <div>

      <div class="animate__animated animate__slideInDown">
        <h1 id="title">ขอบคุณสำหรับการกรอกข้อมูล</h1>
      </div>
      <br><br>
      <div class=" buttonPosition">
        <div class=" buttonLocation animate__animated animate__slideInDown" style="padding-right: 0.5em;">
          <button pButton pRipple type="button" label="กลับสู่หน้ากรอกข้อมูล" (click)="goToPublicPage()"
            class="p-button-rounded p-button-danger buttonStyle"></button>
        </div>
        <div *ngIf="adminCheck === true" class=" buttonLocation animate__animated animate__slideInDown" style="padding-left: 0.5em;">
          <button pButton pRipple type="button" label="กลับสู่หน้าหลัก" (click)="goToDashBordPage()"
            class="p-button-rounded p-button-danger buttonStyle"></button>
        </div>

      </div>
  </div>

</div>
