
.outline{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:5rem;
  margin-left: 4em;
  margin-right: 4em;
}
@media screen and (max-width:900px){
  .outline{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:5rem;
    margin-left: 0em;
    margin-right: 0em;
  }


}

input[type="file"]{
  display: none;
}
label{
  border-radius: 0.3em;
  color: white;
  height: 35px;
  width: 165px;
  background-color: #169FF5
   ;
  /* position: absolute; */
  /* margin: auto; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
