
.container_outline{
  padding-left: 18rem;
  padding-right: 1rem;
  padding-top: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.borderShadow{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #FFE8E8;
  box-shadow: 10px 10px 5px #EAE9E9
}
.textSize{
  font-size: 1em;
}
.textDataSize{
  font-size: 1em;
}
@media screen and (max-width:900px){
  .container_outline{
    padding-left: 25%;
    padding-right: 0em;
    padding-top: 1em;
  }
  .buttonstyle{
    /* width: 1em; */
    /* height: 0.5em; */
  }
  .textSize{
    font-size: 0.7em;
  }
  .textDataSize{
    font-size: 0.8em;
  }


}

@media screen and (max-width:426px){
  .container_outline{
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 1em;
  }
  .buttonstyle{
    /* width: 1em; */
    /* height: 0.5em; */
  }
  .textSize{
    font-size: 0.7em;
  }
  .textDataSize{
    font-size: 0.8em;
  }


}

.spaceTwoButton {
    display: flex;
    justify-content: space-between;
}
