.outlineDiv{
  padding:6em
}
.borderShadow{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #FFE8E8;
  box-shadow: 10px 10px 5px #EAE9E9
}
.acceptColor{
  text-align: center !important;
  border-radius: 2px;
  padding: 0.5rem 0.5rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  background-color: #c8e6c9;
  color: #256029;
}
.notAcceptColor{
  text-align: center !important;
  border-radius: 2px;
  padding: 0.5rem 0.5rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  background-color: #ffcdd2;
  color: #c63737;
}

#text {
  text-align: center !important;

}

@media screen and (max-width:900px) {

  .outlineDiv{
    padding:0em
  }
  .borderShadow{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #FFE8E8;
    box-shadow: 10px 10px 5px #EAE9E9;
    padding-top: 3em;
  }


}

.exportButton{
  padding-left: 0.5em;
}

.buttonRow{
  display: flex;
  flex-direction: row;
}
