.outlineDiv{
  padding:6em
}
.borderShadow{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #FFE8E8;
  box-shadow: 10px 10px 5px #EAE9E9
}
.acceptColor{
  color:  #00FF00 ;
  text-align: center !important;
}
.notAcceptColor{
  color: #FF0000 ;
  text-align: center !important;
}

#text {
  text-align: center !important;

}

@media screen and (max-width:900px) {

  .outlineDiv{
    padding:0em
  }
  .borderShadow{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #FFE8E8;
    box-shadow: 10px 10px 5px #EAE9E9;
    padding-top: 3em;
  }


}

.exportButton{
  padding-left: 0.5em;
}

.buttonRow{
  display: flex;
  flex-direction: row;
}
