<div class="nav-color midlogo md:col-12 lg:col-12 sm:col-12">
  <div class="menu-group">
    <img
      (click)="GoHomePage()"
      id="logo-img"
      src="../../../../../assets/img/logo-noborder.png"
      alt="logo"
    />
    <div
      pRipple
      routerLink="/home/dashbord"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="GoHomePage()"
      class="g-rad px-5 py-3"
    >
      หน้าแรก
    </div>
    <div
      pRipple
      routerLink="/home/about"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="GoAboutPage()"
      class="g-rad px-5 py-3"
    >
      เกี่ยวกับ
    </div>
    <div
      pRipple
      routerLink="/home/help"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="GotoHelp()"
      class="g-rad px-5 py-3"
    >
      ช่วยเหลือ
    </div>
    <div
      pRipple
      routerLink="/home/form"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="GotoForm()"
      class="g-rad px-5 py-3"
    >
      ฟอร์มการประเมิน
    </div>
    <div
      pRipple
      routerLink="/admin"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="role == 'A'"
      (click)="GotoAdmin()"
      class="admin g-rad px-5 py-3"
    >
      ผู้ดูแลระบบ
    </div>
  </div>

  <div class="account-logo">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-sign-out"
      class="p-button-rounded p-button-danger"
      (click)="onConfirm($event)"
    ></button>
  </div>
  <p-confirmPopup key="logoutPopup"></p-confirmPopup>
</div>

<!-- <div class="grid navColor">
  <div class=" md:col-12 lg:col-12 sm:col-12 midlogo">
      <div pRipple  (click)="GoHomePage()" class="home" >HOME</div>
      <div pRipple (click)="GoAboutPage()" class="about">ABOUT</div>
    <div class="logo"><img class="paddingPic" src="../../../../assets/img/logo.png"
      alt="logo" width="100px" height="100px"></div>
      <div pRipple (click)="GotoForm()" class="form">FORM</div>
      <div pRipple *ngIf="role == 'A'" (click)="GotoAdmin()"  class="admin">ADMIN</div>
      <div pRipple *ngIf="role == 'T'" (click)="GotoHelp()"  class="admin">HELP</div>
    </div>
</div> -->
