<div class="nav-color midlogo grid">
  <div class="menu-group col-12 md:col-12 lg:col-12 sm:col-12 pt-1">
    <img
      (click)="GoHomePage()"
      src="../../../../../assets/img/logo-noborder-2.png"
      alt="logo"
      id="logo-img"
      class="col"
    />

    <a
      routerLink="/home/dashbord"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="GoHomePage()"
      class="col g-nav-item g-rad"
    >
      หน้าแรก
    </a>
    <a
      routerLink="/home/about"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="GoAboutPage()"
      class="col g-nav-item g-rad"
    >
      เกี่ยวกับ
    </a>
    <!-- <a
      routerLink="/home/help"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="GotoHelp()"
      class="col g-nav-item g-rad"
    >
      ช่วยเหลือ
    </a> -->
    <!-- <a
      routerLink="/home/form"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="GotoForm()"
      class="col g-nav-item g-rad"
    >
      ฟอร์มการประเมิน
    </a> -->
    <a
      routerLink="/admin"
      routerLinkActive="g-route-actvie"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="role == 'A'"
      (click)="GotoAdmin()"
      class="admin col g-nav-item g-rad mr-auto"
    >
      ผู้ดูแลระบบ
    </a>

    <div class="account-logo ml-auto">

      <p-splitButton
        id="btn-split1"
        label=""
        icon="pi pi-user"
        [model]="menuItem"
        styleClass="p-button-danger"
        (onClick)="userEdit()"
      ></p-splitButton>

      <p-splitButton
        id="btn-split2"
        icon="pi pi-bars"
        [model]="menuItem2"
        styleClass="p-button-danger"
      ></p-splitButton>

    </div>
  </div>
  <p-confirmPopup key="logoutPopup"></p-confirmPopup>
</div>

<p-menu #menu [popup]="true" [model]="menuItem" [baseZIndex]="20"></p-menu>

<p-sidebar [(visible)]="sidebarToggle" position="right" [baseZIndex]="10000">
  <p-menu [model]="menuItem"></p-menu>
</p-sidebar>


