<div class="grid navColor">
  <div class="col-12 md:col-12 lg:col-12 sm:col-12 midlogo"><img class="paddingPic" src="../../assets/img/logo.png"
      alt="logo" width="100px" height="100px"></div>
  <div class="col-12 md:col-12 lg:col-12 sm:col-12 container_outline">
    <div class="col-12 md:col-12 lg:col-12 sm:col-12 grid borderShadow">
      <!-- เขียนให้เอารูปออกเมื่อเป็น ทรศ. แล้วก็ให้ช่องใส่ข้อความเป็น col-12 เมื่อเป็นทรศ. -->
      <img class="col-6 md:col-6 lg:col-6 sm:col-6 animate__animated animate__fadeInDown img"
        src="../../assets/img/loginPicturex2.png" alt="" width="auto" height="auto">
      <form class=" md:col-6 lg:col-6 sm:col-12 movealltext" [formGroup]="userForm" (ngSubmit)="submit()">
        <h1 class="SIGEIN animate__animated animate__fadeInRight">SIGN IN</h1>
        <h1 class="forteacher animate__animated animate__fadeInRight">*สำหรับอาจารย์ และผู้ดูแลระบบ</h1>
        <br><br><br><br>
        <h1 class="USERNAME md:col-6 lg:col-6 sm:col-12  animate__animated animate__fadeInRight">USERNAME</h1>
        <input formControlName="user_name" class="md:col-6 lg:col-6 sm:col-12 animate__animated animate__fadeInRight"
          type="text" pInputText />
        <h1 class="PASSWORD md:col-6 lg:col-6 sm:col-12 animate__animated animate__fadeInRight">PASSWORD</h1>
        <input formControlName="password" class="md:col-6 lg:col-6 sm:col-12 animate__animated animate__fadeInRight"
          type="password" [feedback]="false" pPassword />
        <!-- <p class="ForgotPassword animate__animated animate__fadeInRight">Forgot password?</p> -->
        <div class="buttonPosition animate__animated animate__fadeInUp">
          <div class="buttonColGap">
            <button pButton pRipple type="submit" label="SIGN IN"
              class="p-button-rounded p-button-success buttonStyle"></button>
          </div>
          <div class="buttonColGap">
            <button pButton pRipple type="button" label="CANCLE" (click)="cancle()"
              class="p-button-rounded p-button-danger buttonStyle"></button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
<p-toast></p-toast>
