<div>
  <div class="container-login-img" id="logo-img">
    <img
      id="logo-img"
      src="../../../../../assets/img/logo-black.png"
      alt="logo"
    />
  </div>

  <div class="grid grid-nogutter align-items-center justify-content-center">
    <div
      class="md:col-3 lg:col-4 sm:col-6 shadow-4 px-6 py-5"
      id="box-login"
      [formGroup]="userForm"
    >
      <h1 class="my-2 text-7xl animate__animated animate__fadeInRight">
        Login
      </h1>
      <h3
        class="my-2 font-color-primary animate__animated animate__fadeInRight"
      >
        *สำหรับอาจารย์ และผู้ดูแลระบบ
      </h3>
      <div class="">
        <h1 class="text-4xl animate__animated animate__fadeInRight">
          Username
        </h1>
        <input
          formControlName="user_name"
          name="username"
          class="w-full sm:col-7 p-inputtext-sm animate__animated animate__fadeInRight"
          type="text"
          pInputText
        />
      </div>
      <div class="">
        <h1 class="text-4xl animate__animated animate__fadeInRight">
          PASSWORD
        </h1>
        <input
          formControlName="password"
          class="w-full md:col-3 lg:col-4 sm:col-7 animate__animated animate__fadeInRight"
          type="password"
          [feedback]="false"
          pPassword
        />
      </div>
      <!-- <p class="ForgotPassword animate__animated animate__fadeInRight">Forgot password?</p> -->
      <div class="buttonPosition animate__animated animate__fadeInUp mt-5 mb-4">
        <button
          pButton
          pRipple
          type="button"
          label="Log in"
          (click)="submit()"
          class="p-button-danger buttonStyle"
        ></button>
        <!-- <div class="buttonColGap">
            <p (click)="onCancel()" class="">Cancel</p>
          </div> -->
      </div>
      <!-- <div class="keep-login">Keep me logged in</div> -->
    </div>
  </div>
</div>

<p-toast position="bottom-right"></p-toast>


<!-- <div class="grid navColor">

  <div class="col-12 md:col-12 lg:col-12 sm:col-12 midlogo">
    <img class="paddingPic" src="../../assets/img/logo.png" alt="logo" width="100px" height="100px">
  </div>
  
  <div class="col-12 md:col-12 lg:col-12 sm:col-12 container_outline">
    <div class="col-12 md:col-12 lg:col-12 sm:col-12 grid borderShadow">
      <img class="col-6 md:col-6 lg:col-6 sm:col-6 animate__animated animate__fadeInDown img"
        src="../../assets/img/loginPicturex2.png" alt="" width="auto" height="auto">

      <form class=" md:col-6 lg:col-6 sm:col-12 movealltext" [formGroup]="userForm" (ngSubmit)="submit()">
        <h1 class="SIGEIN animate__animated animate__fadeInRight">เข้าสู่ระบบ</h1>
        <h3 class="forteacher animate__animated animate__fadeInRight">*สำหรับอาจารย์ และผู้ดูแลระบบ</h3>
        <h1 class="USERNAME md:col-6 lg:col-6 sm:col-12  animate__animated animate__fadeInRight">USERNAME</h1>
        <input formControlName="user_name" class="md:col-6 lg:col-6 sm:col-12 animate__animated animate__fadeInRight"
          type="text" pInputText />
        <h1 class="PASSWORD md:col-6 lg:col-6 sm:col-12 animate__animated animate__fadeInRight">PASSWORD</h1>
        <input formControlName="password" class="md:col-6 lg:col-6 sm:col-12 animate__animated animate__fadeInRight"
          type="password" [feedback]="false" pPassword />

        <div class="buttonPosition animate__animated animate__fadeInUp">
          <div class="buttonColGap">
            <button pButton pRipple type="submit" label="SIGN IN"
              class="p-button-rounded p-button-success buttonStyle"></button>
          </div>
          <div class="buttonColGap">
            <button pButton pRipple type="button" label="CANCLE" (click)="cancle()"
              class="p-button-rounded p-button-danger buttonStyle"></button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
<p-toast></p-toast> -->
