.navColor{
  background: #B00000;
  height: 3.5em;
  /* display: flex;
  justify-content: center; */
}
.midlogo {
  display: flex;
  justify-content: center;
}
.paddingPic {
  /* height: 1em; */
  /* padding-bottom: 1em; */
  transform: translate(0px, -13px );
}
.SIGEIN{
  font-size: 5em;  margin: 0px;
}
.forteacher{
  font-size: 3em;  margin: 0px;
}
.USERNAME{
  font-size: 3em;  margin: 0px;
}
.PASSWORD{
  font-size: 3em;  margin: 0px;
}
.container_outline{
  padding: 5em;
}
.borderShadow{
  border-radius: 5em;  box-shadow: 10px 10px 5px #EAE9E9
}
.ForgotPassword{
font-size: 1.5em;
}
.buttonPosition{
    display: flex;
    justify-content: flex-start;
    margin-top: 24px;
}
.buttonStyle{
  width: 5em;
  height: 1.5em;
  font-size: 2em;
}
.buttonColGap{
  padding-right: 1em;
}
.movealltext{
  /* margin-left: 2em; */
  padding-left: 4em;
}
@media screen and (max-width: 900px) {

  .img {
    display: none;
  }
  .container_outline{
    padding: 1em;
  }
  .buttonStyle{
    width: 4em;
    height: 1em;
    font-size: 2em;
  }
  .borderShadow{
    border-radius: 1em;
    box-shadow: 0px 0px 0px #EAE9E9
  }

  .movealltext{
    /* margin-left: 2em; */
    padding-left: 8px;
  }
  /* .login-content {
    justify-content: center;
  } */
}

