<div class="col-12">
  <p>หมายเลขบัตรประจำตัวประชาชน : {{studentData.citizen_id}}</p>
  <p>ชื่อ : {{studentData.first_name_th}}</p>
  <p>นามสกุล : {{studentData.last_name_th}}</p>
  <p>โรงเรียน : {{studentData.school_name}}</p>
  <p>จังหวัดโรงเรียน : {{studentData.school_province_name}}</p>
  <p-divider></p-divider>
  <p>ลำดับการเลือก : {{studentData.priority}}</p>
  <p>คะแนน GPAX : {{studentData.gpax}}</p>
  <p>คะแนน PAT1 : {{studentData.pat1}}</p>
  <p>คะแนน PAT2 : {{studentData.pat2}}</p>
  <p>หน่วยกิตรวม : {{studentData.credit_sum}}</p>
  <p>คะแนน (ONET1) : {{studentData.onet01}}</p>
  <p>คะแนน (ONET2) : {{studentData.onet02}}</p>
  <p>คะแนน (ONET3) : {{studentData.onet03}}</p>
  <p>คะแนน (ONET4) : {{studentData.onet04}}</p>
  <p>คะแนน (ONET5) : {{studentData.onet05}}</p>
  <p>คะแนน GAT1 : {{studentData.gat1_current}}</p>
  <p>คะแนน GAT2 : {{studentData.gat2_current}}</p>
  <p-divider></p-divider>
  <p>ผลการพยากรณ์ : {{studentData.predic}}</p>
  <p>ความน่าจะเป็นของการพยาการณ์ : {{studentData.scoredProbabilities}}</p>
</div>
