<div class="text-center header-size">แก้ไขข้อมูลส่วนตัว</div>
<div class="container-group">
  <div class="card-container">
    <p-card>
      <div class="col-12" [formGroup]="editForm">
        <h3 class=" md:col-6 lg:col-6 sm:col-6">ชื่อผู้ใช้ (Username)</h3>
        <input formControlName="user_name" class=" md:col-6 lg:col-6 sm:col-12" type="text" pInputText />
        <h3 class=" md:col-6 lg:col-6 sm:col-6">รหัสผ่าน (Password)</h3>
        <p-button label="เปลี่ยนรหัสผ่าน" (onClick)="changePassword()"></p-button>
        <!-- <input formControlName="password" class=" md:col-6 lg:col-6 sm:col-12" type="password" pInputText /> -->
        <h3 class=" md:col-6 lg:col-6 sm:col-6">ชื่อ (FirstName)</h3>
        <input formControlName="first_name" class=" md:col-6 lg:col-6 sm:col-12" type="text" pInputText />
        <h3 class=" md:col-6 lg:col-6 sm:col-6">นายสกุล (LastName)</h3>
        <input formControlName="last_name" class=" md:col-6 lg:col-6 sm:col-12" type="text" pInputText />
        <!-- <h3 class=" md:col-6 lg:col-6 sm:col-6">sRole</h3> -->
        <!-- <input formControlName="role" class=" md:col-6 lg:col-6 sm:col-12" type="text" pInputText />
        <br> -->
        <!-- <div class="radiobutton md:col-3 lg:col-3 sm:col-12">
          <div class="pb-3">
            <p-radioButton  name="role" value="A" label="Admin" formControlName="role"></p-radioButton>
          </div>
          <div  >
            <p-radioButton name="role" value="T" label="Teacher" formControlName="role"></p-radioButton>
          </div>
        </div> -->
        <br><br><br><br>
        <p-button label="ตกลง" (onClick)="submit()"></p-button>
      </div>

  </p-card>

  </div>

</div>
