.container-group {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* position: relative; */
}

.controller-group {
  /* position: absolute; */
  position: -webkit-sticky;
  position: sticky;
  /* margin-top: 5rem; */
  /* margin-bottom: 2rem; */
  top: 3rem;
  /* right: 0; */
  order: 1;
  height: fit-content;
}

.controller-header {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.visualize-group {
  order: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.donutStyle{
  /* width: 50%; */
  display: flex;
  justify-content: center;
}
.donutWidth{
  width: 50%;
}
.pieStyle{
  /* width: 50%; */
  display: flex;
  justify-content: center;
}
.pieWidth{
  width: 50%;
}
.chartyear {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*
.photo {
  width: 30%;
}

.text-search {
  font-size: 2rem;
  padding-right: 1rem;
} */

/*
.box-card {
  margin: auto 10rem !important;
} */
/*
.chart {
  display: flex;

}

.wordSize{
  font-size: 1rem;
}
*/

/*
.text-visua {
  align-items: center;
  text-align: center;
}

.dropdown-year {
  display: flex;
  justify-content: flex-end;
}


.buttonRow{
    display: flex;
    justify-content: space-around;
}
.buttonWord{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonSize{
  min-width: 5rem;
  min-height: 5rem;
}
 */


@media screen and (max-width:900px) {

  /* .outlineDiv{
    padding:0em
  } */


}

@media screen and (max-width:450px) {
/*

  .buttonSize{
    min-width: 2rem;
    min-height: 2rem;
  }
  .wordSize{
    font-size: 1em
  }
  .chartStyle{
    display: none;
  } */

}

.img{
  /* height: auto; */
  /* width: auto; */
}
