<br>
<br>
<div class=" md:col-12 lg:col-12 sm:col-12 outlineDiv animate__animated  animate__fadeIn">
  <div>
    <p-card>
      <ng-template pTemplate="header">
        <div class="headerCard animate__animated animate__slideInDown">
          <h1>ระบบช่วยการตัดสินใจในการรับนักเรียนเข้าศึกษาต่อใน สาขาวิชาวิทยาการคอมพิวเตอร์
            มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี</h1>
        </div>
      </ng-template>
      <div class="animate__animated animate__slideInDown">
        <h1>วัตถุประสงค์ : เพื่อใช้เป็นส่วนประกอบในการตัดสินใจในการเลือกรับนักเรียนมัธยมปลายที่สมัครมาเรียน
          เพื่อคาดการณ์ว่าการที่นักเรียนจะสามารถเรียนจบการศึกษาโดยสำเร็จ
        </h1>
        <h1>
          Facebook page : โครงการช่วยการตัดสินใจในการรับนักเรียนเข้าศึกษาต่อใน CS RMUTT
        </h1>
      </div>
      <div class="buttonOutLine">
        <div class="justifyButton">
          <img class="animate__animated animate__slideInDown" src="../../../../assets/img/facebook.png" alt="">
          <img class="animate__animated animate__slideInDown" src="../../../../assets/img/twither.png" alt="">
          <img class="animate__animated animate__slideInDown" src="../../../../assets/img/youtube.png" alt="">
        </div>
      </div>
      <br><br>
      <div class=" md:col-12 lg:col-12 sm:col-12 imgLocation">
        <img src="../../../../assets/img/about.png" alt="">
      </div>
      <div class="md:col-12 lg:col-12 sm:col-12 buttonLocation animate__animated animate__slideInDown">
        <button pButton pRipple type="button" label="Home Page" (click)="goToHomePage()"
          class="p-button-rounded p-button-danger buttonStyle"></button>
      </div>
    </p-card>
  </div>

</div>
