<div
  class="md:col-12 lg:col-12 sm:col-12  animate__animated animate__fadeIn"
>

  <div class="box-content">
    <p class="bulider">WEBSITE BUILDER</p>
    <p class="box-text">
      ระบบช่วยการตัดสินใจในการรับนักเรียนเข้าศึกษาต่อใน <br>
      สาขาวิชาวิทยาการคอมพิวเตอร์ <br>
      มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี
    </p>
    <p class="bulider-under">
      เพื่อใช้เป็นส่วนประกอบในการตัดสินใจในการเลือกรับนักเรียนมัธยมปลาย
      ที่สมัครมาเรียน 
    </p>
    <!-- <div class="container-btn">
        <button (click)="GoFormPage()" pButton pRipple type="button" label="กรอกแบบประเมิน" class="p-button-danger m-1 text-3xl"></button>
        <button (click)="GoToExcelImport()" pButton pRipple type="button" label="นำไฟล์ข้อมูลนักเรียนเข้า" class="p-button-danger m-1 text-3xl"></button>
      </div> -->
    <div class="container-btn">
      <img src="../../../../../assets/img/logo-background.jpg" alt="logo-background" class="logo-background">
    </div>
    <p class="box-text m-6 text-4xl">ส่วนประกอบในการตัดสินใจในการเลือกรับนักเรียนมัธยมปลายที่สมัครมาเรียน</p>
    <p class="bulider-under"> 
      โครงงานวิจัย เรื่อง ระบบช่วยการตัดสินใจในการรับนักเรียนเข้าศึกษาต่อใน <br> 
      หลักสูตรวิทยาการคอมพิวเตอร์ มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี ผู้วิจัยได้รวบรวมประเด็นปัญหา <br>
      รวมถึงแนวทางการแก้ไขปัญหาบนพื้นฐานการประยุกต์ใช้เทคโนโลยีสารสนเทศเข้ามาช่วยจัดการอย่างเป็นระบบ
    </p>
  </div>


  <div class="container g-rad shadow-3 border-0">
    <div class="con-info g-rad">
      <div class="g-f-k2d text-4xl animate__animated animate__faster animate__fadeInRight">
        Contact Infomation
      </div>
      <div class="g-f-k2d text-base m-1 animate__animated animate__faster animate__fadeInRight">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form
      </div>
      <div class="container-phone animate__animated animate__faster animate__fadeInRight">
        <div class="pl-2"><i class="pi pi-phone text-4xl"></i></div>
        <div class="text-3xl">+6680 060 3100</div>
      </div>
      <div class="container-phone animate__animated animate__faster animate__fadeInRight">
        <div class="pl-2"><i class="pi pi-envelope text-4xl"></i></div>
        <div class="text-3xl">aimphaka.l@gmail.com</div>
      </div>
      <div class="container-phone animate__animated animate__faster animate__fadeInRight">
        <div class="pl-2"><i class="pi pi-map-marker text-4xl"></i></div>
        <div class="text-3xl">24/106 Bangkok</div>
      </div>
      <div class="container-phone animate__animated animate__faster animate__fadeInRight">
        <div class="pl-2"><i class="pi pi-facebook text-4xl"></i></div>
        <div class="text-3xl">
          โครงการช่วยการตัดสินใจใน <br />การรับนักเรียนเข้าศึกษาต่อใน <br />CS
          RMUTT
        </div>
      </div>
    </div>
    <div class="con-form g-rad">
      <form class="" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="g-f-k2d text-5xl animate__animated animate__faster animate__fadeInLeft">Contact Us</div>
        <h1 class="text-3xl animate__animated animate__faster animate__fadeInLeft">ชื่อ-นามสกุล</h1>
        <input
          formControlName="fullname"
          name="fullname"
          type="text"
          pInputText
          class="w-full sm:col-7 p-inputtext-sm animate__animated animate__faster animate__fadeInLeft"
        />
        <div class="form-col">
          <div class="pr-2">
            <h1 class="text-3xl animate__animated animate__faster animate__fadeInLeft">อีเมลล์</h1>
            <input
              formControlName="email"
              name="email"
              type="email"
              pInputText
              class="w-full sm:col-7 p-inputtext-sm animate__animated animate__faster animate__fadeInLeft"
            />
          </div>
          <div class="pl-2">
            <h1 class="text-3xl animate__animated animate__faster animate__fadeInLeft">เบอร์โทร</h1>
            <input
              formControlName="phone"
              name="phone"
              type="tel"
              pInputText
              class="w-full sm:col-7 p-inputtext-sm animate__animated animate__faster animate__fadeInLeft"
            />
          </div>
        </div>
        <div class="pl-2">
          <h1 class="text-3xl animate__animated animate__faster animate__fadeInLeft">ข้อความ</h1>
          <textarea
            rows="5"
            cols="71"
            pInputTextarea
            autoResize="autoResize"
            class="textarea-style animate__animated animate__faster animate__fadeInLeft"
          ></textarea>
        </div>
        <div class="buttonPosition animate__animated animate__faster animate__fadeInLeft mt-5 mb-2">
        <button
          pButton
          pRipple
          type="submit"
          label="Send Message"
          class="p-button-danger text-3xl"
        ></button>
      </div>
      </form>
    </div>
  </div>

  <!-- <br>
<br>
<div class=" md:col-12 lg:col-12 sm:col-12 outlineDiv animate__animated  animate__fadeIn">
  <div>
    <p-card>
      <ng-template pTemplate="header">
        <div class="headerCard animate__animated animate__slideInDown">
          <h1>ระบบช่วยการตัดสินใจในการรับนักเรียนเข้าศึกษาต่อใน สาขาวิชาวิทยาการคอมพิวเตอร์
            มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี</h1>
        </div>
      </ng-template>
      <div class="animate__animated animate__slideInDown">
        <h1>วัตถุประสงค์ : เพื่อใช้เป็นส่วนประกอบในการตัดสินใจในการเลือกรับนักเรียนมัธยมปลายที่สมัครมาเรียน
          เพื่อคาดการณ์ว่าการที่นักเรียนจะสามารถเรียนจบการศึกษาโดยสำเร็จ
        </h1>
        <h1>
          Facebook page : โครงการช่วยการตัดสินใจในการรับนักเรียนเข้าศึกษาต่อใน CS RMUTT
        </h1>
      </div>
      <div class="buttonOutLine">
        <div class="justifyButton">
          <img class="animate__animated animate__slideInDown" src="../../../../assets/img/facebook.png" alt="">
          <img class="animate__animated animate__slideInDown" src="../../../../assets/img/twither.png" alt="">
          <img class="animate__animated animate__slideInDown" src="../../../../assets/img/youtube.png" alt="">
        </div>
      </div>
      <br><br>
      <div class=" md:col-12 lg:col-12 sm:col-12 imgLocation">
        <img src="../../../../assets/img/about.png" alt="">
      </div>
      <div class="md:col-12 lg:col-12 sm:col-12 buttonLocation animate__animated animate__slideInDown">
        <button pButton pRipple type="button" label="Home Page" (click)="goToHomePage()"
          class="p-button-rounded p-button-danger buttonStyle"></button>
      </div>
    </p-card>
  </div>

</div> -->
</div>
