.top {
  display: flex;
  justify-content: center;
}

.borderShadow{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #FFE8E8;
  box-shadow: 10px 10px 5px #EAE9E9
}

.hightlight{
  background-color: #a30000 !important;
  color: white !important;
  /* font-size: 1.5rem; */
  border-radius: 50px;
  text-align: center !important;
  font-size: 1.2rem;
}

.header {
  font-size: 2rem;
  align-items: center;
  align-self: center;

}

#text {
  text-align: center !important;

}

.table-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem !important;
  color: black;
}


.exportButton{
  padding-left: 0.5em;
}

.buttonRow{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

@media screen and (max-width: 576px){
  .header {
    font-size: 1.4rem;
    align-items: center;
    align-self: center;
  }

  .table-header {
    font-size: 1.3rem !important;
    align-items: center;
  }

  .buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}

@media screen and (max-width: 376px){
  .table-header {
    font-size: 1rem !important;
    align-items: center;
    justify-content: center;
  }

  .display-header {
    display: none;
  }

}
