
<div class="animate__animated  animate__fadeIn">
  <div>
    <div class="top borderShadow">
      <p class="header">ผลลัพธ์การพยากรณ์ของนักเรียนที่กรอกข้อมูล</p>
    </div>
    <br><br>
    <p-card>
      <div class="buttonRow">
        <div>
          <button type="button" pButton pRipple icon="pi pi-file-excel" label="XLS" (click)="exportExcel()" class="p-button-success p-mr-2 "  pTooltip="XLS" tooltipPosition="bottom"></button>
        </div>
        <div class="exportButton">
          <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV" (click)="exportCsv()" style="margin-right: 0.5em;"></button>        </div>
      </div>
      <br>
      <p-table #dt responsiveLayout="scroll" [filterDelay]="0"  [globalFilterFields]="['first_name_th','predic']" [scrollable]="true"
      [responsive]="false"  [value]="sps" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20,50,100]"
      [totalRecords]="recordCount"
      [pageLinks]="8" >

      <ng-template pTemplate="caption">
        <div class="table-header">
            <!-- List of Customers -->
            <!-- <div _ngcontent-kin-c86="" class="display-header table-header ng-star-inserted"> List of Customers </div> -->
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <!-- (input)="dt.filterGlobal($event, 'contains')"     $event.target.value-->
                <!-- (input)='showTb($event)' -->
                <input pInputText type="text" class="search-size" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search" />

            </span>
        </div>
    </ng-template>

       <ng-template pTemplate="header" let-columns id="text">
           <tr>
               <th pSortableColumn="first_name_th" class="textSize" id="text">ชื่อ <p-sortIcon field="first_name_th"></p-sortIcon></th>
               <th pSortableColumn="last_name_th" class="textSize" id="text">นามสกุล <p-sortIcon field="last_name_th"></p-sortIcon></th>
               <th pSortableColumn="predic" class="textSize" id="text">ผลลัพธ์การพยากรณ์ <p-sortIcon field="predic"></p-sortIcon></th>
               <th class="textSize" id="text">ข้อมูลเพิ่มเติม</th>
               <th class="textSize" id="text">ลบข้อมูล</th>

           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-sp let-columns="columns" id="text">
           <tr>
            <!-- {{pp.user_id}} -->
              <td  class="textDataSize text" id="text">{{sp.first_name_th}}</td>
              <td class="textDataSize text" id="text">{{sp.last_name_th}}</td>
             <td [ngClass]="{'acceptColor' : ( sp.predic === 'Yes') , 'notAcceptColor' : ( sp.predic === 'No')}" class="textDataSize ">{{sp.predic | predictPipe : sp.predic}}</td>
              <!-- <td class="textDataSize" id="text">{{sp.first_name_th}}</td>
              <td class="textDataSize" id="text">{{sp.last_name_th}}</td>
             <td class="textDataSize hightlight" id="text">{{sp.predic}}</td> -->

             <!-- (click)="confirmEdit(user.user_id)" -->
             <td id="text"><button pButton pRipple (click)="infoDetail(sp)" type="button" icon="pi pi-info" class="p-button-rounded p-button-info p-button-outlined buttonstyle" id="text"></button></td>
             <td id="text"><button pButton pRipple (click)="deleteDataPp(sp.sp_id)" type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined buttonstyle" id="text"></button></td>
           </tr>
       </ng-template>
     </p-table>


  </p-card>

  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  </div>
</div>
