<div class="md:col-12 lg:col-12 sm:col-12 animate__animated animate__fadeIn">
  <div>
    <div class="header">
      <p class="bolder text-5xl">ฟอร์มการประเมิน</p>
      <img
        id="logo-img-form"
        src="../../../../../assets/img/logo-text-border.png"
        alt="logo"
      />
    </div>

    <div
      class="box-form sm:col-12 md:col-10 lg:col-10 animate__animated animate__fadeIn"
    >
      <div *ngIf="predicForm.valid" class="headerCard">
        <p class="text-xl g-text-primary mt-4">*กรุณากรอกแบบฟอร์มให้ครบถ้วน</p>
      </div>

      <div>
        <form [formGroup]="predicForm">
          <p-panel
            header="ส่วนที่ 1 : ส่วนของข้อมูลส่วนตัวของนักเรียน"
            styleClass="text-2xl"
          >
            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle">รหัสบัตรประชาชน</label>
                <p-inputMask
                  mask="9-9999-99999-99-9"
                  id="citizen_id"
                  formControlName="citizen_id"
                  placeholder="x-xxxx-xxxxx-xx-x"
                  styleClass="w-full"
                ></p-inputMask>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['citizen_id'].invalid &&
                    predicForm.controls['citizen_id'].touched
                  "
                  class="p-error"
                  >กรุณากรอกรหัสบัตรประชาชน</small
                >
              </div>
            </div>

            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle w-full">ชื่อ</label>
                <input
                  formControlName="first_name_th"
                  type="text"
                  class="w-full sm:col-7 p-inputtext-sm animate__animated animate__fadeIn"
                  pInputText
                />
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['first_name_th'].invalid &&
                    predicForm.controls['first_name_th'].touched
                  "
                  class="p-error"
                  >กรุณากรอกชื่อ</small
                >
              </div>
              <div class="inputTextStyle">
                <label class="labelStyle">นามสกุล</label>

                <input
                  formControlName="last_name_th"
                  type="text"
                  class="w-full sm:col-7 p-inputtext-sm animate__animated animate__fadeIn"
                  pInputText
                />
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['last_name_th'].invalid &&
                    predicForm.controls['last_name_th'].touched
                  "
                  class="p-error"
                  >กรุณากรอกนามสกุล</small
                >
              </div>
            </div>

            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle">ชื่อโรงเรียน</label>
                <input
                  formControlName="school_name"
                  type="text"
                  styleClass="w-full animate__animated animate__fadeIn"
                  pInputText
                />
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['school_name'].invalid &&
                    predicForm.controls['school_name'].touched
                  "
                  class="p-error"
                  >กรุณากรอกชื่อโรงเรียน</small
                >
              </div>

              <div class="inputTextStyle">
                <label class="labelStyle">จังหวัดของโรงเรียน</label>
                <p-dropdown
                  styleClass="labelStyle w-full"
                  formControlName="school_province_name"
                  [filter]="true"
                  filterBy="province"
                  [options]="provinces"
                  [(ngModel)]="selectedProvince"
                  optionLabel="province"
                ></p-dropdown>
                <!-- <input formControlName="school_province_name" type="text" pInputText > -->
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['school_province_name'].invalid &&
                    predicForm.controls['school_province_name'].touched
                  "
                  class="p-error"
                  >กรุณากรอกจังหวัดของโรงเรียน</small
                >
              </div>
            </div>

            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle">เกรดรวม (GPAX)</label>
                <p-inputNumber
                  formControlName="gpax"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['gpax'].invalid &&
                    predicForm.controls['gpax'].touched
                  "
                  class="p-error"
                  >กรุณากรอกเกรดรวม</small
                >
              </div>
              <div class="inputTextStyle">
                <label class="labelStyle">ผลรวมหน่วยกิต</label>
                <p-inputNumber
                  formControlName="credit_sum"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['credit_sum'].invalid &&
                    predicForm.controls['credit_sum'].touched
                  "
                  class="p-error"
                  >กรุณากรอกผลรวมหน่วยกิต</small
                >
              </div>
            </div>
            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle"
                  >ลำดับที่เลือกสาขาวิทยาการเลือก TCAS3</label
                >
                <p-inputNumber
                  [min]="1"
                  [max]="10"
                  formControlName="priority"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['priority'].invalid &&
                    predicForm.controls['priority'].touched
                  "
                  class="p-error"
                  >กรุณากรอกลำดับที่เลือกสาขาวิทยาการเลือก TCAS3</small
                >
              </div>
            </div>
          </p-panel>

          <p-panel
            header="ส่วนที่ 2 : ส่วนของคะแนน"
            styleClass="text-2xl mt-4"
          >
            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle">ความถนัดทางคณิตศาสตร์ (PAT1)</label>
                <p-inputNumber
                  formControlName="pat1"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['pat1'].invalid &&
                    predicForm.controls['pat1'].touched
                  "
                  class="p-error"
                  >กรุณากรอกความถนัดทางคณิตศาสตร์</small
                >
              </div>
              <div class="inputTextStyle">
                <label class="labelStyle">ความถนัดทางวิทยาศาสตร์ (PAT2)</label>
                <p-inputNumber
                  formControlName="pat2"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['pat2'].invalid &&
                    predicForm.controls['pat2'].touched
                  "
                  class="p-error"
                  >กรุณากรอกความถนัดทางวิทยาศาสตร์</small
                >
              </div>
            </div>

            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle">คะแนนแกท 1 ไทย (GAT1)</label>
                <p-inputNumber
                  formControlName="gat1_current"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['gat1_current'].invalid &&
                    predicForm.controls['gat1_current'].touched
                  "
                  class="p-error"
                  >กรุณากรอกคะแนนแกท 1</small
                >
              </div>
              <div class="inputTextStyle">
                <label class="labelStyle">คะแนนแกท 2 อังกฤษ (GAT2)</label>
                <p-inputNumber
                  formControlName="gat2_current"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['gat2_current'].invalid &&
                    predicForm.controls['gat2_current'].touched
                  "
                  class="p-error"
                  >กรุณากรอกคะแนนแกท 2</small
                >
              </div>
            </div>

            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle">โอเน็ตภาษาไทย (ONET01)</label>
                <p-inputNumber
                  formControlName="onet01"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['onet01'].invalid &&
                    predicForm.controls['onet01'].touched
                  "
                  class="p-error"
                  >กรุณากรอกโอเน็ตภาษาไทย</small
                >
              </div>
              <div class="inputTextStyle">
                <label class="labelStyle">โอเน็ตสังคมศึกษา (ONET02)</label>
                <p-inputNumber
                  formControlName="onet02"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['onet02'].invalid &&
                    predicForm.controls['onet02'].touched
                  "
                  class="p-error"
                  >กรุณากรอกโอเน็ตสังคมศึกษา</small
                >
              </div>
            </div>

            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle">โอเน็ตภาษาอังกฤษ (ONET03)</label>
                <p-inputNumber
                  formControlName="onet03"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>

                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['onet03'].invalid &&
                    predicForm.controls['onet03'].touched
                  "
                  class="p-error"
                  >กรุณากรอกโอเน็ตภาษาอังกฤษ</small
                >
              </div>
              <div class="inputTextStyle">
                <label class="labelStyle">โอเน็ตคณิตศาสตร์ (ONET04)</label>
                <p-inputNumber
                  formControlName="onet04"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['onet04'].invalid &&
                    predicForm.controls['onet04'].touched
                  "
                  class="p-error"
                  >กรุณากรอกโอเน็ตคณิตศาสตร์</small
                >
              </div>
            </div>

            <div class="input-col-2">
              <div class="inputTextStyle">
                <label class="labelStyle">โอเน็ตวิทยาศาสตร์ (ONET05)</label>
                <p-inputNumber
                  formControlName="onet05"
                  styleClass="w-full labelStyle p-inputtext-sm animate__animated animate__fadeIn"
                  [minFractionDigits]="2"
                ></p-inputNumber>
                <small
                  class="smallStyle"
                  id="username2-help"
                  *ngIf="
                    predicForm.controls['onet05'].invalid &&
                    predicForm.controls['onet05'].touched
                  "
                  class="p-error"
                  >กรุณากรอกโอเน็ตวิทยาศาสตร์</small
                >
              </div>
            </div>
          </p-panel>
        </form>
      </div>

      <div
        class="flex flex-column align-items-center animate__animated animate__fadeIn animate_slow mt-2 mb-2"
      >
        <button
          pButton
          pRipple
          [disabled]="predicForm.invalid"
          type="button"
          label="บันทึกข้อมูล"
          (click)="submitForm()"
          class="p-button-raised p-button-danger button-style"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="ล้างค่าข้อมูล"
          (click)="reset()"
          class="p-button-text p-button-secondary button-style text-2xl"
        ></button>
      </div>
    </div>
  </div>
  <p-toast position="bottom-center"></p-toast>
</div>
