<br>
<br>
<div class=" md:col-12 lg:col-12 sm:col-12 outlineDiv animate__animated  animate__fadeIn">
  <div >
    <p-card>
      <ng-template pTemplate="header">
        <!-- animate__animated animate__slideInDown -->
        <div class="headerCard ">
          <h1 >กรุณากรอกแบบฟอร์ม</h1>
        </div>
      </ng-template>
      <div>
        <form [formGroup]="predicForm">

        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">
          <label class="labelStyle">รหัสบัตรประชาชน</label>
            <p-inputMask  mask="9-9999-99999-99-9"  id="citizen_id" formControlName="citizen_id"
             placeholder="x-xxxx-xxxxx-xx-x"></p-inputMask>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['citizen_id'].invalid && predicForm.controls['citizen_id'].touched" class="p-error">กรุณากรอกรหัสบัตรประชาชน</small>
        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">
          <label class="labelStyle">ชื่อ</label>
           <input formControlName="first_name_th" type="text" pInputText  >
           <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['first_name_th'].invalid && predicForm.controls['first_name_th'].touched" class="p-error">กรุณากรอกชื่อ</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">นามสกุล</label>
            <input formControlName="last_name_th" type="text" pInputText >
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['last_name_th'].invalid && predicForm.controls['last_name_th'].touched" class="p-error">กรุณากรอกนามสกุล</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">ลำดับที่เลือกสาขาวิทยาการเลือก TCAS3</label>
            <p-inputNumber [min]="1" [max]="10" formControlName="priority"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['priority'].invalid && predicForm.controls['priority'].touched" class="p-error">กรุณากรอกลำดับที่เลือกสาขาวิทยาการเลือก TCAS3</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">เกรดรวม (GPAX)</label>
          <p-inputNumber formControlName="gpax"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['gpax'].invalid && predicForm.controls['gpax'].touched" class="p-error">กรุณากรอกเกรดรวม</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">ความถนัดทางคณิตศาสตร์ (PAT1)</label>
            <p-inputNumber formControlName="pat1"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['pat1'].invalid && predicForm.controls['pat1'].touched" class="p-error">กรุณากรอกความถนัดทางคณิตศาสตร์</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">ความถนัดทางวิทยาศาสตร์ (PAT2)</label>
            <p-inputNumber formControlName="pat2"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['pat2'].invalid && predicForm.controls['pat2'].touched" class="p-error">กรุณากรอกความถนัดทางวิทยาศาสตร์</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">ชื่อโรงเรียน</label>
            <input formControlName="school_name" type="text" pInputText >
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['school_name'].invalid && predicForm.controls['school_name'].touched" class="p-error">กรุณากรอกชื่อโรงเรียน</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">จังหวัดของโรงเรียน</label>
          <p-dropdown formControlName="school_province_name" [filter]="true" filterBy="province" [options]="provinces" [(ngModel)]="selectedProvince" optionLabel="province"></p-dropdown>
            <!-- <input formControlName="school_province_name" type="text" pInputText > -->
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['school_province_name'].invalid && predicForm.controls['school_province_name'].touched" class="p-error">กรุณากรอกจังหวัดของโรงเรียน</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">ผลรวมหน่วยกิต</label>
            <p-inputNumber formControlName="credit_sum"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['credit_sum'].invalid && predicForm.controls['credit_sum'].touched" class="p-error">กรุณากรอกผลรวมหน่วยกิต</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">โอเน็ตภาษาไทย (ONET01)</label>
            <p-inputNumber formControlName="onet01"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['onet01'].invalid && predicForm.controls['onet01'].touched" class="p-error">กรุณากรอกโอเน็ตภาษาไทย</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">โอเน็ตสังคมศึกษา (ONET02)</label>
            <p-inputNumber formControlName="onet02"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['onet02'].invalid && predicForm.controls['onet02'].touched" class="p-error">กรุณากรอกโอเน็ตสังคมศึกษา</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">โอเน็ตภาษาอังกฤษ (ONET03)</label>
            <p-inputNumber formControlName="onet03"></p-inputNumber>

            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['onet03'].invalid && predicForm.controls['onet03'].touched" class="p-error">กรุณากรอกโอเน็ตภาษาอังกฤษ</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">โอเน็ตคณิตศาสตร์ (ONET04)</label>
            <p-inputNumber formControlName="onet04"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['onet04'].invalid && predicForm.controls['onet04'].touched" class="p-error">กรุณากรอกโอเน็ตคณิตศาสตร์</small>

        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">โอเน็ตควิทยาศาสตร์ (ONET05)</label>
            <p-inputNumber formControlName="onet05"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['onet05'].invalid && predicForm.controls['onet05'].touched" class="p-error">กรุณากรอกโอเน็ตควิทยาศาสตร์</small>


        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">คะแนนแกท 1 ไทย  (GAT1)</label>
            <p-inputNumber formControlName="gat1_current"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['gat1_current'].invalid && predicForm.controls['gat1_current'].touched" class="p-error">กรุณากรอกคะแนนแกท 1</small>


        </div>
        <div class="inputTextStyle md:col-6 lg:col-4 sm:col-12 ">


          <label class="labelStyle">คะแนนแกท 2 อังกฤษ  (GAT2)</label>
            <p-inputNumber formControlName="gat2_current"></p-inputNumber>
            <small class="smallStyle" id="username2-help" *ngIf="predicForm.controls['gat2_current'].invalid && predicForm.controls['gat2_current'].touched" class="p-error">กรุณากรอกคะแนนแกท 2</small>


        </div>
       </form>
      </div>

      <div style="display: flex;" class="md:col-6 lg:col-4 sm:col-12 buttonLocation ">
        <div>
          <button pButton pRipple [disabled]="predicForm.controls['citizen_id'].invalid || predicForm.controls['first_name_th'].invalid || predicForm.controls['last_name_th'].invalid
          || predicForm.controls['priority'].invalid || predicForm.controls['gpax'].invalid || predicForm.controls['pat1'].invalid || predicForm.controls['pat2'].invalid
          || predicForm.controls['school_name'].invalid || predicForm.controls['school_province_name'].invalid || predicForm.controls['credit_sum'].invalid
          || predicForm.controls['onet01'].invalid || predicForm.controls['onet02'].invalid || predicForm.controls['onet03'].invalid
          || predicForm.controls['onet04'].invalid || predicForm.controls['onet05'].invalid || predicForm.controls['gat1_current'].invalid
          || predicForm.controls['gat2_current'].invalid" type="button" label="Submit" (click)="submitForm()"
          class="p-button-rounded p-button-danger buttonStyle"></button>
        </div>
        <div style="padding-left: 2em;">
          <button pButton pRipple   type="button" label="reset" (click)="reset()"
          class="p-button-rounded p-button-secondary buttonStyle"></button>
          <!-- {{predicForm.value | json}} -->
        </div>
        </div>
    </p-card>
  </div>

</div>
